.sectionForm{
    display: flex;
    flex-direction: column;
    background-color:  rgba(50, 0, 0, 1);
    align-items: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 20px;
    background-color: rgba(50, 0, 0, 1);
}

.logoForm {
    display: flex;
    order: 0;
    height: 20%;
  padding: 0%;
}

.pUsuario{
display: flex;
color: rgba(152, 65, 65, 1);
font-weight: bold;
align-items: left;
}

.pContraseña{
  color:rgba(152, 65, 65, 1);
  font-weight: bold;
}

.input {
    display: flex;
    order: 2;
    
}