html,
    body {
        width: 100% !important;
        height: 100% !important;
        margin: 0px;
        padding: 0px;
        
    }
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh; /* Altura mínima de la ventana gráfica */
    overflow: auto; /
}

.navHome{
    height: 20%;
    width: 100%;
    background-color: rgba(237, 234, 210, 1);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoHeader{
    width: 80px;
    height: auto;
}

.userEmail{
    color: #450101;
    
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.filterButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonTodos{ 
    border-radius: 9px;
    border: 5px solid #450101;
    background: #32C704;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    width: 194px;
    height: 75px;
    flex-shrink: 0;
    color: #450101;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.buttonDesayuno, .buttonAlmuerzo { 
    border-radius: 9px;
    border: 5px solid #450101;
    background: #E5CB7A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    width: 194px;
    height: 75px;
    flex-shrink: 0;
    color: #450101;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }




.productSelect{
    width: 100%;
    height: auto;
}

.filterButtonsContainer{
    display: flex;
    justify-content: space-around;
}   

.filterButtonsContainer button{
    margin-left: 10%;

}

.sectionProductos{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: antiquewhite;
    width: 60%;
    height: auto;
}

.buttonProductos{
    margin: 5%;
}

.buttonCerrarSesion{
    display: flex;
    position: 4;
}

.sectionBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #450101;
    padding: 64px 30px 20px 0;
   
}

.tikect{
    display: flex;
    flex-direction: column;
    

    width: 70%;
    background-color: rgba(237, 234, 210, 1);
    border-radius: 29px;
    border: 8px solid #FFF;
    color: #450101;
   

    
    
}

.ticketTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-size: 36px;
    font-style: bold;
    font-weight: 700;   
    line-height: bold;
    color: #450101;
}



.selectedProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center; 
    padding: 6px; 
    border-bottom: 1px solid #ccc; /* Add a separator between items */
    color: #450101;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divIncreOrDecre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    flex-grow: 2;
    padding: 12px; 
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.buttonLess , .buttonMore {
    
    width: 45px;
    height: 42px;
    font-size: 32px;
    flex-shrink: 0;
    border-radius: 9px;
    
    background: #FDFAFA;
}


.totalFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.totalTitle {
    display: flex;
    flex-direction: row;
    font-family: 'Inconsolata', monospace;
    color: #450101;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.totalNumber {
    font-family: 'Inconsolata', monospace;
    color: #450101;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.buttonHacerPedido{
  align-items: center;
  background-clip: padding-box;
  background-color: #E2604E;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.buttonHacerPedido:hover,
.buttonHacerPedido:focus {
  background-color: #E2604E;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonHacerPedido:hover {
  transform: translateY(-1px);
}

.buttonHacerPedido:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

